body {
  font: 10px sans-serif;
  background-color: gray;
}

h1 {
  width: 804px;
  text-align: center;
  padding: 5px 0;
}

.grouping,
#details {
  width: 804px;
}

#chart,
#grid,
#details,
h1 {
  border: 1px solid gray;
  margin: 0;
  box-sizing: border-box;
  background-color: white;
}
#chart,
#grid {
  display: inline-block;
}
#details {
  width: 804px;
  height: 115px;
  padding: 5px 34px 5px 33px;
}
