.demo-col {
  height: 600px;
}

.grouping,
#details {
  width: 804px;
  font: 10px sans-serif;
}

#chart,
#grid,
#details {
  border: 1px solid gray;
  margin: 0;
  box-sizing: border-box;
}
#chart,
#grid {
  display: inline-block;
}
#details {
  width: 804px;
  height: 115px;
  padding: 5px 34px 5px 33px;
}
