body {
  font: 12px sans-serif;
  background-color: lightyellow;
}

h1 {
  text-align: center;
  margin: 0;
  padding-top: 20px;
}

#grid,
#details,
h1 {
  background-color: white;
  width: 800px;
  margin-right: auto;
  margin-left: auto;
}
#details {
  height: 120px;
  box-sizing: border-box;
  padding: 0 50px;
}
